{% extends 'app/base.html' %}

{% load static %}

{% block content %}
<form method="post" style="width: 500px; margin: auto; margin-top: 100px;">
    {% csrf_token %}
    <h2 class="mb-5">Sign Up</h2>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">User Name</label>
        <input type="text" name="name" class="form-control">
        {% if messages %}
            {% for message in messages %}
            <div {% if message.info %} class="form-text" {% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
        <input type="password" name="confirmpassword" class="form-control" id="exampleInputPassword1">
        {% if messages %}
            {% for message in messages %}
            <div {% if message.error %} class="form-text" {% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
{% endblock %}